
body{
	
}



.margin-top{
    margin-top: 5%;
}
.fix-grid{
	border: 5px solid red;
}

a span {
  //  color: #000000 !important;
}

hr{
    border: 1px solid #f2f2f2;
}
h1{
    font-family: 'Bitter', serif;
	color: black;
	text-align: center;
}

h2{
	color: #006dcc;
}

h3{
    font-family: 'Bitter', serif;
	color: black;
}
h5{
	color: black;
    font-family: 'Shadows Into Light', cursive;
}

h6{
	color: #006dcc;
    font-family: 'Bitter', serif;
}

p{
	color: #006dcc;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
}

.add-code{
    font-size: 3em;
    margin-left: 40px;
    border: 5px solid Black;
}

.chart-answer{
   font-size: 2.5em;
   text-align: center;
   
}

.hideQuestion{
    display: none;
}

.hideQuestion:hover{
    display: block;
}



.icon-padding{
    
    padding: 15px 15px 15px 15px;
}

.icon-word-padding{
   padding-left: 4px;    
}

.word-padding{
    
    padding: 10px 10px 10px 10px;
}

.white-background{
	background-color: rgba(255, 255, 255, 0.5);
}
.top-button-padding{
	margin-top: 40px;
}
#answerOne, #answerTwo, 
 #answerThree, #answerFour{
    font-size: 1.5em;
}
#signup-btn{
    margin-left:15px;
}
#question{
    font-size: 2em;
}

.put-right{
    float: right;
}
#footer {
	text-align: center;
	font-size: .7em;
	color: white;
}
#footer img{
   width: 7%;
   height: 7%;
}

div.tooltip-inner {
    max-width: 350px;
}
